.gallery {
    margin: 20px 0;
}

.gallery img {
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño máximo */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-top: 10px;
}

button {
    background-color: #ff002b; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a30f25; /* Color más oscuro al pasar el ratón */
}