body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c8102e; /* Rojo */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.toggle {
    display: none;
    cursor: pointer;
}

.gallery {
    margin: 20px 0;
}

.gallery img {
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño máximo */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-top: 10px;
}

button {
    background-color: #c8102e; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a30f25; /* Color más oscuro al pasar el ratón */
}

@media (max-width: 768px) {
    ul {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column;
        position: absolute;
        background-color: #c8102e; /* Rojo */
        top: 50px;
        right: 0;
        width: 200px;
    }

    ul.active {
        display: flex; /* Mostrar el menú si está activo */
    }

    .toggle {
        display: block; /* Mostrar el icono de hamburguesa */
    }
}
.content {
    padding: 20px;
}
footer {
    background-color: #c8102e; /* Rojo */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

